@result-title-font-size: #2e2e2e;
@darken-color: lighten(@result-title-font-size, 20%);

// darken-color 预先计算出来，并作为主题变量维护
// 会直接注入到 themeData 里

// ------------------------ color ------------------------ //
.size {
  font-size: @result-title-font-size;
  color: @darken-color
}
