@import url(./c.less);

@primary-color: 20%;
@result-title-font-size: #2e2e2e;
@result-title-font-color: lighten(@result-title-font-size, 10%);
@darken-color: lighten(@result-title-font-color, @primary-color);

// darken-color 预先计算出来，并作为主题变量维护
// 会直接注入到 themeData 里

// ------------------------ color ------------------------ //
.size {
  font-size: @result-title-font-size;
  color: @darken-color
}